nav ul a {
	color: #fff;
}

p {
	line-height: 2rem;
}

.page-container {
	margin: auto 5%;
}

.divider {
	width: 80%;
	margin: 32px auto;
}

.card .card-title.overlay {
	color: #fff;
	font-size: 24px;
	font-weight: 300;
	background-color: rgba(25, 137, 212, 0.88);
	width: 100%;
}

.row.projects {
	padding: 0;
	margin: 0 auto;
}

.brand-logo {
	color: #fff;
}

.my-logo {
	background-image: url(../img/ben-tiny.jpg),
	linear-gradient(#fff, #fff 25%, #e6e6e6);
	border-radius:50%;
	box-shadow: 0 3px 7px 0 #4f4a65;
	border: 2px solid #bd3518 !Important;
	width: 48px;
	height: 48px;
	padding: 0;
	margin: 5px;
}

.button-collapse {
	color: #fff;
}

.card .card-reveal {
	height: 95%;
}

.reveal-footer {
	border-top: 1px solid rgba(0,0,0,0.1);
	position: relative;
	/*bottom: 15px;*/
	border-radius: 0 0 2px 2px;
	background-color: #bd3518;
	padding: 0;
	height: 64px;
	width: 90%;
}

.reveal-footer .reveal-button {
	vertical-align: middle;
}

.page-footer {
	margin: 0;
}

.fixed-action-btn {
	bottom: 45px;
	right: 24px;
}