/* Social icons and container classes */
.list-nav {
	margin: 0;
	padding: 0 5px;
}

.list-unstyled {
	padding: 0;
	list-style: none;
}

.list-inline li {
	display: inline-block;
	margin: 6px;
}

/*Change icons size here*/
.social-icons .fa {
	font-size: 1.8em;
}

/*Icon sizing*/
.social-icons .fa {
	width: 48px;
	height: 48px;
	line-height: 50px;
	text-align: center;
	color: #FFF;
	color: rgba(255, 255, 255, 0.8);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

/* Icon button shape */
.social-icons.icon-circle .fa {
	border-radius: 50%;
}

.social-icons.icon-rounded .fa {
	border-radius:5px;
}

.social-icons.icon-flat .fa {
	border-radius: 0;
}

/* Icon actions*/
.social-icons .fa:hover,
.social-icons .fa:active {
	color: #FFF;
	-webkit-box-shadow: 1px 1px 3px #333;
	-moz-box-shadow: 1px 1px 3px #333;
	box-shadow: 1px 1px 3px #333;
}

.social-icons.icon-zoom .fa:hover,
.social-icons.icon-zoom .fa:active {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

.social-icons.icon-rotate .fa:hover,
.social-icons.icon-rotate .fa:active,
.social-icons.icon-rotate .material-icons:hover,
.social-icons.icon-rotate .material-icons:active {
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
	transform: scale(1.1) rotate(360deg);
}

/* Icon button colors */
.social-icons .fa-adn {
	background-color:#504e54;
}

.social-icons .fa-apple {
	background-color: #aeb5c5;
}

.social-icons .fa-android {
	background-color:#A5C63B;
}

.social-icons .fa-bitcoin,.social-icons .fa-btc {
	background-color:#F7931A;
}

.social-icons .fa-css3 {
	background-color:#1572B7;
}

.social-icons .fa-dropbox {
	background-color:#018BD3;
}

.social-icons .fa-facebook,
.social-icons .fa-facebook-square {
	background-color:#3C599F;
}

.social-icons .fa-github,
.social-icons .fa-github-alt,
.social-icons .fa-github-square {
	background-color:#070709;
}

.social-icons .fa-google-plus,
.social-icons .fa-google-plus-square {
	background-color:#CF3D2E;
}

.social-icons .fa-html5 {
	background-color:#E54D26;
}

.social-icons .fa-instagram {
	background-color:#A1755C;
}

.social-icons .fa-linkedin,
.social-icons .fa-linkedin-square {
	background-color:#0085AE;
}
.social-icons .fa-linux {
	background-color:#FBC002;color:#333;
}

.social-icons .fa-maxcdn {
	background-color:#F6AE1C;
}

.social-icons .fa-stack-exchange {
	background-color:#245590;
}

.social-icons .fa-stack-overflow {
	background-color:#FF7300;
}

.social-icons .fa-twitter,
.social-icons .fa-twitter-square {
	background-color:#32CCFE;
}

 .btn-floating i {
	color: #fff;
	font-size: 1.6rem;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

.btn-floating:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}